{% extends "layout.html" %}

{% block action %}
<a href="/-admin/build" class="ui-button" id="build-button">Build</a>
<a href="/-admin/post/new" class="ui-button">New Post</a>
{% end %}

{% block main %}
<ul id="post-list">
  {% for f in files %}
  <li><a href="/-admin/post/{{f}}">{{f}}</a></li>
  {% end %}
</ul>
{% end %}

{% block foot %}
<script type="text/javascript">
  var posts = $('#post-list li');
  var inSearch = false;

  $('#filename').keyup(function(e) {
    var value = $(this).val();
    var rv = search(value);
    $('#post-list').empty().html(rv);
    inSearch = true;
  });
  $('#filename').keydown(function(e) {
    if (e.keyCode === 13 && inSearch) {
      var link = $('#post-list a').first().attr('href');
      location.href = link;
    }
  });
  $('#filename').blur(function() { inSearch = false; });

  function search(key) {
    var rv = [];
    for(var i = 0; i < posts.length; i++) {
      var text = posts.eq(i).text();
      var prior = text.indexOf(key);
      if (prior !== -1) {
        rv.push(posts[i]);
      }
    }
    return rv;
  }

  $('#build-button').click(function(e) {
    e.preventDefault();
    $.get('/-admin/build', function(data) {
      if (data.stat == 'ok') {
        $('body').append('<div id="message">Success</div>');
      } else {
        $('body').append('<div id="message">Error</div>');
      }
      $('#message').delay(500).fadeOut(function(){
        $('#message').remove();
      });
    });
  });

</script>
{% end %}
