<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{config.site_name}}</title>
    <link rel="stylesheet" href="{{static_url('base.css')}}" />
    <link rel="stylesheet" href="{{static_url('style.css')}}" />
    <script type="text/javascript" src="{{static_url('jquery.js')}}"></script>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="header">
      <div class="container fn-clear">
        <div class="input-wrapper">
          <a id="home" href="/-admin/">Home</a>
          {% block input %}
          <input id="filename" type="text" placeholder="Type to search" />
          {% end %}
        </div>
        <div class="action-wrapper fn-clear">
          {% block action %}{% end %}
        </div>
      </div>
    </div>

    <div id="main">
      <div id="main-wrapper">
        <div class="container">
          {% block main %}{% end %}
        </div>
      </div>
    </div>
    {% block foot %}{% end %}
  </body>
</html>
